<header id="main-header">
    <div>
        <div id="painel-info">
            <ul>
                <li><h1>Wishlister</h1></li>
            </ul>
        </div>
        <div id="user-info">
            <div>
                <div id="user-text">
                    <span id="user-name">{{$ctrl.userInfo}}</span>
                </div>
            </div>
            <div id="sub-menu">
                <a href="#" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
</header>